
name="Kodi 18"
section="yes"
url="https://fuentepalomitasbuffer.github.io/Kodi18.xml"
icon="https://fuentepalomitasbuffer.github.io/icon.png" 
fanart="https://fuentepalomitasbuffer.github.io/fanart.jpg"
description="Buffer Para Kodi 18"



name="Kodi 17"
section="yes"
url="https://fuentepalomitasbuffer.github.io/Kodi17.xml"
icon="https://fuentepalomitasbuffer.github.io/icon.png" 
fanart="https://fuentepalomitasbuffer.github.io/fanart.jpg"
description="buffer Para Kodi 17"